[Unit]
Description=Scans for incoming packages from mosquitto
After=network.target


[Service]
ExecStart=/home/djremskii/GIT/cs2600-final/bin/program
Restart=always
WorkingDirectory=/home/djremskii
User=djremskii
Group=djremskii
Environment=GOPATH=/home/djremskii/go


[Install]
WantedBy=multi-user.target
